# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# Directus synced content (uncomment if you want to exclude synced files)
# /content/docs/part-*
# /content/docs/uncategorized

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# Webflow Cloud build artifacts
/.open-next/
/.tmp/
/clouduser.next.config.mjs

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env
.env*.local
.vercel
next-env.d.ts